@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  font-family: 'Blinker', sans-serif;
  background-color: #eaeded;
}

.container {
  width: 1460px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
}

.sidebar {
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  position: fixed;
  left: -100%;
  z-index: 2001;
  top: 0;
  transition: 0.6s;
}

.sidebar__active {
  left: 0;
  transition: 0.6s;
}
.sidebar__second {
  position: fixed;
  width: 400px;
  height: 100vh;
  left: -100%;
  z-index: 1001;
  top: 0;
  background-color: #fff;
  transition: 0.6s;
}
.sidebar__second__active{
    left: 0;
    transition: 0.6s;
}
.explore__page {
  display: flex;
}