.login__page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.login__logoImage {
    margin: 20px 0;
    width: 103px;
}

.login__box {
    padding: 20px 26px;
    border: 0.5px solid gray;
    border-radius: 7px;
    margin-bottom: 22px;
}

.login__box>.login__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.login__label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}

.login__inputField {
    width: 280px;
    display: block;
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    margin-bottom: 10px;
}

.login__btn {
    width: 280px;
    margin-top: 14px;
    margin-bottom: 18px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border: none;
    height: 29px;
    border-radius: 2px;
    cursor: pointer;
}
.login__text {
    font-size: 12px;
    width: 286px;
}
.login__withGoogle {
    display: flex;
    align-items: center;
    background: transparent;
    margin: 0 auto;
    border:  0.5px solid #aeaeb2;
    padding: 3px;
    margin-top: 8px;
    cursor: pointer;
}
.login__newUser {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
    text-align: center;
    margin-bottom: 17px;
}
.login__btnLink {
    cursor: pointer;
    width: 100%;
    color: #111;
    border: none;
    padding: 3px 10px 2px 11px;
    font-size: 13px;
    line-height: 29px;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
    border-radius: 2px;
}